* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-assets-title {
    display: flex;
    height: 55px;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    font-size: 24px;
    border: 2px solid black;
}

.button-assets {
    display: flex;
    justify-content: space-around;
    width: 160px;
}

.button-assets button {
    width: 25px;
}

.status-text {
    margin: 0 54px 0px 33px;
}

.status-bar-title {
    font-size: 24px;
    font-weight: 900;
}

.status-bar__text {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
}

.status-bar__text h5 {
    padding-right: 10px;
}

.open-time {
    display: flex;
}

.open-time p {
    font-weight: 900;
}

.open-time h3 {
    padding-right: 50px;
}

.bar-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 85%;
    margin: 30px auto;
}

.status-bar-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    border: 2px solid black;
    overflow: hidden;
    /* transition: max-height 0.15s ease-out; */
    height: auto;
    background: white;
    color: black;
    max-height: 9999px;
}

.open {
    background-image: url(upload.png);
    background-repeat: no-repeat;
}

.accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    height: 55px;
    padding-left: 30px;
    padding-right: 10px;
    color: white;
    background-color: #3ba55c;
    font-weight: 900;
    border: solid 3px rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    align-items: center;
    margin: auto;
    max-width: 85%;
}

.minus {
    content: url('../src/line.svg');
    width: 24px;
    height: 24px;
}

.plus {
    content: url('../src/plus.svg');
    width: 24px;
    height: 24px;

}

.accordion-title button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 1.2rem;
    width: 30px;
    text-align: left;
    font-weight: bold;
}

.panel-close {
    box-sizing: border-box;
    padding: 0.5rem 1rem 0 1rem;
    opacity: 0;
    width: 100%;
    max-width: 85%;
    height: 0;
    margin: auto;
    overflow: hidden;
}

.panel-open {
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
    opacity: 1;
    width: 100%;
    max-width: 85%;
    height: auto;
    margin: auto;

    margin-bottom: 20px;
    border: 3px solid black;
}