* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-assets-title {
    display: flex;
    height: 55px;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    font-size: 24px;
    border: 2px solid black;
}

.button-assets {
    display: flex;
    justify-content: space-around;
    width: 160px;
}

.button-assets button {
    width: 25px;
}

.time-status {
    display: flex;
    width: 162px;
    justify-content: space-between;
    margin-top: 10px;

}

.status-bar-title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.status-bar-title p {
    color: #3BA55C;
    font-size: 0.875rem;
}
.status-bar-title h5 {
    color: #000000;
    font-weight: 800;
    font-size: 16px;

}

.bar-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

/* .wrapper {
    width: 100%;
    max-width: 85%;
    margin: 30px auto;
} */

.status-bar-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    border: 2px solid black;
    overflow: hidden;
    /* transition: max-height 0.15s ease-out; */
    height: auto;
    background: white;
    color: black;
    max-height: 9999px;
}

.open {
    background-image: url(upload.png);
    background-repeat: no-repeat;
}

.accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    height: 55px;
    padding-left: 30px;
    padding-right: 10px;
    color: white;
    font-weight: 900;
    color: #000;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
    align-items: center;
}

.accordion-title:hover {
    color: white;
    border: 1px solid white;
    background-color: black;
}

.minus {
    content: url('../src/line.svg');
    width: 24px;
    height: 24px;
}

.plus {
    content: url('../src/plus.svg');
    width: 24px;
    height: 24px;

}

.accordion-title button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 1.2rem;
    width: 30px;
    text-align: left;
    font-weight: bold;
}

.panel-close {
    box-sizing: border-box;
    /* padding: 0.5rem 1rem 0 1rem; */
    opacity: 0;
    width: 100%;
    max-width: 85%;
    height: 0;
    margin: auto;
    overflow: hidden;
}

.panel-open {
    overflow: hidden;
    padding: 1rem 1rem 1rem 1rem;
    box-sizing: border-box;
    opacity: 1;
    margin: auto;
    border-bottom: 1px solid #E0E0E0;
}

.status-bars {
    background-color: aqua;
}