* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search-input {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 85%;
    margin-bottom: 50px;
}

.search-input input {
    width: 100%;
    height: 55px;
    font-size: 22px;
    padding-left: 55px;
    background: lightgray;
    border: 3px solid black;
}

.search-input span {
    position: absolute;
    left: 280px;
    top: 315px;
}

.search-icon {
    position: absolute;
    right: 20px;
    left: 15px;
    bottom: 12px;

}