* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-bar__container {
    display: flex;
    justify-content: flex-end;

}

.status-bar__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
}

.uptime__text {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.uptime__text h4 {
    color: #000000;
}

.bar-content {
    display: flex;
    position: relative;
    margin: 3px;
    width: 10px;
    height: 40px;
    border: 1px solid black;
}

.tooltip {
    visibility: hidden;
    width: 176px;
    background: rgba(224, 224, 224, 1);
    height: 61px;
    color: black;
    border: 1px solid black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -65px;
    left: 50%;
    margin-left: -60px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
}

.bar-content:hover .tooltip {
    visibility: visible;
}


.main-bar-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}


.yellowOne {
    background-color: yellow !important;
}

.redOne {
    background-color: red !important;
}

.greenOne {
    background-color: green !important;
}
