* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.status-bar__text {
    color: #aaa;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;
}

.uptime__text {
    display: flex;
    align-items: center;

}

.uptime__text h4 {
    color: #72767d;
}

.open-time {
    display: flex;
    align-items: center;

}

.space {
    flex: 1;
    height: 1px;
    margin: 0 10px;
    background: #72767d;
    opacity: 0.3;
}

.bar-content {
    display: flex;
    position: relative;
    margin: 3px;
    width: 10px;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .bar-content {
        margin: 2px;
    }
}

@media only screen and (max-width: 576px) {
    .bar-content {
        margin: 2px;
    }
}

@media only screen and (max-width: 464px) {
    .bar-content {
        margin: 1px;
    }
}

.tooltip-left-22 {
    left: 42px;
}
/* 
.tooltip-right {
   
} */

.tooltip-arrow-left {
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
}

.tooltip-arrow-left:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    top: 74%;
    left: 31px;
    margin-left: -15px;
    content: '';
    margin-top: 15px;
    transform: rotate(45deg);
    background: white;
    
}

.tooltip-arrow-right {
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
}

/* .tooltip-arrow-center{
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
}
.tooltip-arrow-center::after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    top: 74%;
    left: 0;
    content: '';
    transform: rotate(45deg);
    margin-top: 15px;
    background: white;

} */
.tooltip-arrow-right::after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    top: 74%;
    left: 182px;
    margin-left: -15px;
    content: '';
    transform: rotate(45deg);
    margin-top: 15px;
    background: white;

}

.tooltip {
    visibility: hidden;
    width: 196px;
    background: rgb(255, 255, 255);
    height: 80px;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -90px;
    right: -18px;
    margin-left: -60px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
}


.tooltip h5 {
    font-weight: 900;
    padding: 5px;
}

.tooltip .record-title {
    font-weight: 700;
    padding: 5px;
}

.tooltip p {
    font-weight: 400;
    padding: 5px;
}


.bar-content:hover .tooltip {
    visibility: visible;
}


.main-bar-container {
    width: 100%;
    margin: auto;
    margin-top: 34px;
    display: flex;
    justify-content: center;
}



.yellowOne {
    background-color: yellow !important;
}

.redOne {
    background-color: red !important;
}

.greenOne {
    background-color: #3ba55c !important;
}