* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.status-bar__text {
    color: #aaa;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;
}

.uptime__text {
    display: flex;
    align-items: center;

}

.uptime__text h4 {
    color: #72767d;
}

.open-time {
    display: flex;
    align-items: center;

}

.space {
    flex: 1;
    height: 1px;
    margin: 0 10px;
    background: #72767d;
    opacity: 0.3;
}

.bar-content {
    display: flex;
    position: relative;
    margin: 3px;
    width: 10px;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .bar-content{
        margin: 2px;
    }
}
@media only screen and (max-width: 576px) {
    .bar-content{
        margin: 2px;
    }
}

@media only screen and (max-width: 464px) {
    .bar-content{
        margin: 1px;
    }
}

.tooltip {
    visibility: hidden;
    width: 176px;
    background: rgba(224, 224, 224, 1);
    height: 61px;
    color: black;
    border: 1px solid black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -65px;
    right: -18px;
    margin-left: -60px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
}
.tooltip h5{
    font-weight: 900;
}
.tooltip .record-title{
    font-weight: 700;
}
.tooltip p{
    font-weight: 400;
}

.tooltip-left{
    left: 42px;
}

.bar-content:hover .tooltip {
    visibility: visible;
}


.main-bar-container {
    width: 100%;
    margin: auto;
    margin-top: 34px;
    display: flex;
    justify-content: center;
}



.yellowOne {
    background-color: yellow !important;
}

.redOne {
    background-color: red !important;
}

.greenOne {
    background-color: #3ba55c !important;
}