*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background: #5865f2;
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    text-shadow: 4px 1px 0px rgba(0, 0, 0, 0.4);
}

.sub-container {
    width: 100%;
    max-width: 85%;
    margin: auto;
    margin-top: 30px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.header-top h1{
    margin-bottom: 5px;
}

.data-time{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-bottom{
    display: flex;
    width: 100%;
    max-width: 95%;
}
/* .header-box{
    width: 33%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: black;
  background-color: aliceblue;
} */


.data-time h4{
    display: flex;
    justify-self: flex-end;
    font-size: larger;
}