* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mid-container {
    width: 100%;
    max-width: 45%;
    margin: auto;
    margin-top: 50px;
}
@media only screen and (max-width: 1400px){
    .mid-container{
        max-width: 61%;
    }
}
@media only screen and (max-width: 1200px){
    .mid-container{
        max-width: 71%;
    }
}
.service {
    display: flex;
    height: 55px;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 30px;
    background: #3ba55c;
    color: white;
}

.service img {
    width: 33px;
    height: 33px;
    color: white;
}
.service h3 {
    padding-left: 12px;
    font-size: 24px;
}
